@model KnowledgeApp_Test.Models.Common.CrushingSeason
@using KnowledgeApp_Test.Services;
@using KnowledgeApp_Test.Models.Administration
@{
    Layout = null;
    ViewBag.Title = "CrushingSeason";
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(@ViewBag.Title);
}
@if (right.Count == 0 || right == null)
{
    Response.Redirect("/Login/Access");
}
else if (right[0].BtnAdd == true || right[0].btnEdit == true)
{
    using (Html.BeginForm("AddeditCrushingSeason", "Common", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
    {
        <div class="row">
            <div class="col-md-4">
                Crushing Season Name
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.HiddenFor(m => m.CrushingSeasonId)
                    @Html.TextBoxFor(m => m.CrushingSeasonName, new { @class = "form-control", @maxlength = "10" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Season Year
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.SeasonYear, new { @class = "form-control", @onkeypress = "javascript:return isNumber(event)" })
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                @if (Model.CrushingSeasonId == 0 && right[0].BtnAdd==true)
                {
                    <button class="form-control btn btn-success">Save</button>

                }
                else if(right[0].btnEdit == true)
                {
                    <button class="form-control btn btn-info">Update</button>
                }
            </div>
        </div>
    }
}