@model KnowledgeApp_Test.Models.Stoppages.StoppageActionTaken
@using KnowledgeApp_Test.Services
@using KnowledgeApp_Test.Models.Stoppages
@using KnowledgeApp_Test.Models.Administration
@{ Layout = null;
    DropdownListSevices ds = new DropdownListSevices();
    List<StoppageDefect> defects = ds.StoppageDefectddl();
    var Id = "Stoppage Action Taken";
    GeneralServices GS = new GeneralServices();
    List<RolePermisssion> right = GS.ValidateForm(Id);
}
@if (right.Count == 0 || right == null)
{
    Response.Redirect("/Login/Access");
}
else if (right[0].BtnAdd == true || right[0].btnEdit == true)
{
    using (Html.BeginForm("AddeditStoppageActionTaken", "Stoppages", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        <div class="row">
            <div class="col-md-4">
                Defect
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.HiddenFor(m => m.ActionId)
                    @Html.DropDownListFor(m => m.DefectId, new SelectList(defects, "DefectId", "DefectName"), "select Defect", new { @class = "form-control ddl" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Action Code
            </div>
            <div class="col-md-8">
                <div class="form-group">

                    @Html.TextBoxFor(m => m.ActionCode, new { @class = "form-control", @maxlength = "5" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Action Name
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.ActionName, new { @class = "form-control", @maxlength = "40", @required = "required" })

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @if (Model.ActionId == 0 && right[0].BtnAdd == true)
                {
                    <button class="form-control bg-success">Save</button>
                }
                else if(right[0].btnEdit == true)
                {
                    <button class="form-control bg-info">Update</button>
                }
            </div>
        </div>
    }
}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".ddl").select2({
                placeholder: "select Option",
                allowClear: true,
                theme: "classic"
            });
        });
    </script>
